img {
    width: 400px;
    height: auto;
}
*{
    font-family: Helvetica, Arial, sans-serif;

}

h1, h2 {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}